body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #000000f3, #000000fb);
}

header {
    background-color: #4646462b;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none;
}

.data-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.card {
    flex: 1 1 calc(33.33% - 20px);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: transform 0.3s ease;
}

.card img.expanded {
    transform: scale(1.1); /* Aumenta o tamanho da imagem em 10% */
}

.card h3 {
    margin: 10px 0;
    font-size: 18px;
    text-transform: capitalize;
    color: #333;
}

.card p {
    font-size: 14px;
    color: #666;
    margin: 0 10px 15px;
}

.btn-more {
    background-color: #050505;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.btn-more:hover {
    background-color: #edf704;
    color: #050505;
    transform: scale(1.05);
}

.pagination {
    text-align: center;
    margin-top: 2rem;
}

.pagination a {
    color: #edf704;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #ffffff;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
    background-color: #edf704;
    color: #050505;
}

.page-numbers {
    display: inline-block;
}

.page-numbers a {
    margin: 0 5px;
}

.pagination a.active {
    background-color: #edf704; /* Cor de fundo para a página ativa */
    color: #050505; /* Cor do texto para a página ativa */
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal.show {
    opacity: 1;
    display: flex;
}

.modal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.full-description {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(20px);
}

.full-description.show {
    opacity: 1;
    transform: translateY(0);
}

/* Responsividade */
@media (max-width: 1200px) {
    .card {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 100%;
    }

    .btn-more {
        padding: 10px 15px;
    }

    .pagination a {
        padding: 8px 12px;
    }
}
